.idea/
__pycache__/

diagrams/

.resources/
.cache/
results/
results_expired/
logs_expired/
checkpoints/
evaluation_old/
Argument-Annotated-Essays/

*.ipynb

*.sbatch
*.sh
*.pkl
test.py
*.pdf

pdfs/
logs/

scripts/

metadata_comparison.py
ridge.py
HUMAN_TEXT_PROBABILITY.py
fix_predictions.py
add_existing_results_to_database.py
dataset/create_mixed_dataset.py
remove_aae_from_db.py

*.db

evaluation/
detectors/ghostbuster/model
